
.action-button {
	background-color: var(--joplin-background-color3);
	color: var(--joplin-color);
	border: 1px solid var(--joplin-code-border-color);
	padding: 6px;
	transition: background-color 0.2s ease, opacity 0.2s ease;
}

.action-button:hover {
	background-color: var(--joplin-background-color-hover3);
}
