
.editor-dialog {
	display: flex;
	flex-direction: column;
	background-color: var(--joplin-background-color);
	border: none;
	border-radius: 16px;
	box-shadow: 0px 0px 2px var(--joplin-color);
	color: var(--joplin-color);

	width: min(80vw, 600px);
	padding: 16px;
}

.editor-dialog > textarea {
	flex-grow: 1;
	min-height: min(70vh, 400px);
	resize: none;
	color: var(--joplin-color);
	background-color: var(--joplin-background-color);
}

.editor-dialog > button {
	color: var(--joplin-color);
	background-color: var(--joplin-background-color3);
	border: none;

	border-radius: 8px;
	height: 38px;
}
