
.floating-button-bar {
	position: absolute;
	z-index: 1;

	--border-radius: 8px;
	/* Force LTR to ensure that the expected buttons have the first and
	   last rounded corner styling. */
	direction: ltr;
}

.floating-button-bar.-hidden {
	display: none;
}

.floating-button-bar > .action:first-child {
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

.floating-button-bar > .action:last-child {
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.floating-button-bar > .action {
	opacity: 1;
}

.floating-button-bar > .action:not(:focus):not(:hover) {
	opacity: 0.9;
}
