
.floating-button-bar {
	position: absolute;
	z-index: 1;

	display: flex;
	flex-direction: row;
	box-sizing: border-box;

	/* Force LTR to ensure that the expected buttons have the first and
	   last rounded corner styling. */
	direction: ltr;

	border-radius: 64px;
	height: 64px;
	padding: 8px;
	background-color: var(--joplin-background-color3);
	color: var(--joplin-color);
	gap: 4px;

	box-shadow: 0px 0px 3px var(--joplin-background-color-transparent2);
}

.floating-button-bar.-hidden {
	display: none;
}

.floating-button-bar > .action {
	background: transparent;
	border: none;
	opacity: 1;
}

.floating-button-bar > .action:not(:focus):not(:hover) {
	opacity: 0.9;
}
