
.joplin-editable {
	position: relative;
}

.joplin-editable > .edit {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;

	display: none;
	transition: 0.4s ease opacity;
}

.joplin-editable.-selected {
	outline: 4px solid var(--joplin-text-selection-color);
}

.joplin-editable.-selected > .edit {
	display: block;
	opacity: 0.9;
}
