
.folder-and-tag-list {
	position: relative;
	overflow: hidden;
	flex-grow: 1;
	height: 100%;
	width: 100%;

	> .items {
		position: absolute;
		left: 0;
		right: 0;
	}
}

:root:not(.-native-scrollbars) .folder-and-tag-list {
	::-webkit-scrollbar {
		width: calc(var(--scrollbar-size) + 1px);
	}

	::-webkit-scrollbar-thumb {
		// Makes the scrollbar more visible -- adds spacing between the scrollbar and
		// the edge of the screen.
		border: 1px solid var(--joplin-background-color2);
	}
}