
.resource-search-results-banner {
	padding: 10px;
	margin-left: 5px;
	margin-bottom: 10px;
	background-color: var(--joplin-warning-background-color);
	display: none;
	--marker-content: '[+]';

	&[open] {
		--marker-content: '[-]';
	}

	&.-visible {
		display: block;
	}

	> summary {
		cursor: pointer;

		&::marker {
			content: '';
			display: none;
		}

		& > .marker {
			&::before {
				content: var(--marker-content);
			}
			float: right;
            display: inline-block;
		}
	}
}
