* {
	box-sizing: border-box;
}

html {
	font-size: 14px;
}

h2 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 0.5em;
}

.is-admin-page div.main-container,
.is-admin-page div.navbar-container {
	max-width: none !important;
}

.is-admin-page div.navbar-container {
	padding: 0 3rem;
}

input.form-control {
	margin-bottom: 0.5rem;
}

.navbar .logo-container {
	align-items: center;
}

.navbar .logo-container .navbar-appname {
	margin-left: 15px;
}

.navbar .logo-text {
	font-size: 2.2em;
	font-weight: bold;
	margin-left: 0.5em;
}

.navbar .navbar-item img {
	max-height: 3em;
}

.main {
	padding: 2rem 3rem;
}

table.table .nowrap {
	white-space: nowrap;
}

table.table .stretch {
	width: 100%;
}

table.table th .sort-button i {
	margin-left: 0.5rem;
}

table.table tr.is-disabled {
	opacity: 0.5;
}

.footer {
	background-color: transparent;
}

.footer .content {
	opacity: 0.5;
}

ul li {
	list-style-type: disc;
}

ul.pagination-list li,
ul.menu-list li {
	list-style-type: none;
}

.readable-block {
	max-width: 740px;
}

a.heading-anchor {
	display: inline-block;
	opacity: 0;
	width: 1.3em;
	font-size: 0.7em;
	margin-left: 0.4em;
	line-height: 1em;
	text-decoration: none;
	transition: opacity 0.3s;
}
a.heading-anchor:hover,
h1:hover a.heading-anchor,
h2:hover a.heading-anchor,
h3:hover a.heading-anchor,
h4:hover a.heading-anchor,
h5:hover a.heading-anchor,
h6:hover a.heading-anchor {
	opacity: 1;
}

abbr[title] {
	text-underline-offset: 2px;
	text-decoration: underline dotted;
}

#login-form {
	max-width: 400px;
}

#recovery-codes li {
	opacity: 0.8;
}

#recovery-codes li>span {
	font-size: 1.3em;
	font-family: monospace;
}

#recovery-codes li>span[data-is-code-used="1"] {
	text-decoration: line-through;
	opacity: 0.6;
}

.application-item:nth-of-type(odd) {
	background-color: #f9f9f9;
}